{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
  'block',
  'ebt-block',
  'ebt-micromodal-block',
  'ebt-block-' ~ plugin_id|clean_class,
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'block-revision-id-' ~ configuration.block_revision_id,
]
%}

{{ attach_library('ebt_micromodal/ebt_micromodal') }}
<div{{ attributes.addClass(classes).setAttribute('id', 'block-revision-id-' ~ configuration.block_revision_id) }}>
  <div class="bg-inner"></div>
  <div class="ebt-container">
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
      {{ content|without('field_ebt_settings', 'body', 'field_ebt_micromodal_title') }}
    {% endblock %}

    <div class="bg-washed-green tc">
        <a data-micromodal-trigger="modal-{{ 'micromodal-block-revision-id-' ~ configuration.block_revision_id }}" href="javascript:;">
          {{ content.field_ebt_settings.0['#ebt_settings']['button_text'] }}
        </a>
    </div>

    <div class="modal micromodal-slide" id="modal-{{ 'micromodal-block-revision-id-' ~ configuration.block_revision_id }}" aria-hidden="true">
      <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
          <header class="modal__header">
            <h2 class="modal__title" id="modal-1-title">
              {{ content.field_ebt_micromodal_title }}
            </h2>
            {# Print the "X" icon if is configured to display, or if the field doesn't exists on database #}
            {% if (content.field_ebt_settings.0['#ebt_settings']['display_close_icon'] == 1) or (content.field_ebt_settings.0['#ebt_settings']['display_close_icon'] is not defined) %}
              <button class="modal__close" aria-label="{{ 'Close modal'|t }}" data-micromodal-close></button>
            {% endif %}
          </header>
          <main class="modal__content" id="modal-{{ 'micromodal-block-revision-id-' ~ configuration.block_revision_id }}-content">
            {{ content.body }}
          </main>
          <footer class="modal__footer">
            <button class="modal__btn" data-micromodal-close aria-label="{{ 'Close this dialog window'|t }}">{{ content.field_ebt_settings.0['#ebt_settings']['close_button_text'] }}</button>
          </footer>
        </div>
      </div>
    </div>

  </div>
</div>
{{ styles|raw }}
